// Color Variables
// Sitewide color control

$green: #90CA0A;
$blue: #56B7CB;
$blue-green: #14A887;
$red: #FB312C;
$orange: #F17F3B;
$yellow: #F1C53B;
$yellow-orange: #F1A33B;
$pink: #E04F8E;
$purple: #957CB9;
$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$tumblr-blue: #35465c;

// The background color used for image placeholders
$gray_placeholder: #C1C1C1;

// Percentage-based grayscale.
// The percent marks the distance away from white.
// Higher percentage = darker gray
$white: #ffffff;
$gray_2_5: darken($white, 2.5%);
$gray_5: darken($white, 5%);
$gray_8: darken($white, 8%);
$gray_10: darken($white, 10%);
$gray_12: darken($white, 12%);
$gray_15: darken($white, 15%);
$gray_20: darken($white, 20%);
$gray_25: darken($white, 25%);
$gray_30: darken($white, 30%);
$gray_35: darken($white, 35%);
$gray_40: darken($white, 40%);
$gray_45: darken($white, 45%);
$gray_50: darken($white, 50%);
$gray_55: darken($white, 55%);
$gray_60: darken($white, 60%);
$gray_70: darken($white, 70%);
$gray_80: darken($white, 80%);
$gray_90: darken($white, 90%);
$black: #000000;

// Color Classes
// Every class must have a corresponding variable above

.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

.bg-blue-green {
  background-color: $blue-green;
}

.bg-pink {
  background-color: $pink;
}

.bg-orange {
  background-color: $orange;
}

.bg-white {
  background-color: $white;
}

.bg-gray_2_5 {
  background-color: $gray_2_5;
}

.bg-gray_5 {
  background-color: $gray_5;
}

.bg-gray_10 {
  background-color: $gray_10;
}

.bg-gray_15 {
  background-color: $gray_15;
}

.bg-gray_20 {
  background-color: $gray_20;
}

.bg-gray_25 {
  background-color: $gray_25;
}

.bg-gray_30 {
  background-color: $gray_30;
}

.bg-gray_40 {
  background-color: $gray_40;
}

.bg-gray_50 {
  background-color: $gray_50;
}

.bg-gray_60 {
  background-color: $gray_60;
}

.bg-gray_70 {
  background-color: $gray_70;
}

.bg-gray_80 {
  background-color: $gray_80;
}

.bg-gray_90 {
  background-color: $gray_90;
}