# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj

# ember-cli
dist/
tmp/

# NPM packages folder
node_modules/

# Bower folder
bower_components/

# Divshot
.divshot-cache/

# Vagrant
.vagrant

# Miscellaneous
/.sass-cache.divshot-cache

