<form {{action 'next' on='submit'}}>
  <!-- container -->
  <div class="container clear">
    <div class="wraper text_topmarg">

	  <!-- onboarding_block -->
	  <div class="onboarding_block clear">
	    <p class="center">
		  <img src="/assets/img/welcome.png" alt="" />
	    </p>
	    <p class="center">Congratulations. You just took an important first step toward babysitter nirvana.
	    </p>
	    <p class="center">You know a bit about us, now we’d love to hear more about you.
	    </p>
	    <p class="choose_parent_baby">First, are you a
          {{radio-button name="parent_or_sitter" value="parent" label="Parent" selection=selectedValue}}
          or a
          {{radio-button name="parent_or_sitter" value="sitter" label="Babysitter" selection=selectedValue}}
	    </p>
	    <div class="button_wrap">
		  <a class="button button_small" onclick='$("form").submit()'>
		    <span class="icon_next">&nbsp;
		    </span>next
		  </a>
	    </div>
	  </div>
	  <!-- /onboarding_block -->

    </div>
  </div>
  <!-- /container -->
</form>
